<h1>Articles List</h1>
<div class="center jumbotron">
 <% @articles.each do |article| %>
  <p> Title: <%= article.title %></p>
  <p><%= markdown(article.content) %></p>
  <p> Date: <%= article.created_at %></p>
  <p> Writer: <%= article.user.name %></p>
  <hr>
 <% end %>
 <%= paginate @articles %>
</div>