<div class="center">
 <% @articles.each do |article| %>
 <section id= "article">
  <p class="bold"> <%= link_to article.title, article_path(article.id) %></p>
  <p> <%= article.short_content %> </p>
  <p> <%= article.user.name %></p>
  <p> <%= time_ago_in_words(article.created_at) %> 前</p>
 </section>
  <hr>
 <% end %>
</div>
<h4 class="center"><%= paginate @articles %></h1>

