<h1 class="center">Articles List</h1>
<div class="center">
 <% @articles.each do |article| %>
  <section id= "article">
   <p class="element2 bold"> <%= link_to article.title, article_path(article.id) %></p>
   <p class="element2"> <%= markdown(article.content) %> </p>
   <p class="element3"> <%= article.user.name %></p>
   <p class="element3"> <%= time_ago_in_words(article.created_at) %>前</p>
   <p class="btn btn-primary">
    <%= link_to "Edit", edit_article_path(article.id) %>
   </p>
   &nbsp;&nbsp;
   <p class="btn btn-primary">
    <%= link_to "Delete", article, method: :delete, data: { confirm: "You sure?"}  %>
   </p>
   </section>
  <hr>
 <% end %>
</div>
<%= paginate @articles %>