<h1 class="center">Articles List</h1>
<hr>
<div class="container">
 <% @articles.each do |article| %>
  <%= link_to article_path(article.id), class: 'hoge' do %>
   <section id="article">
    <p class="element2 bold"> <%= article.title %></p>
    <p class="element2"> <%= article.content.truncate(100) %> </p>
    <div class="element3"><%= article.user.name %></div>
    <div class="element3"> <%= time_ago_in_words(article.created_at) %>前</div>
    <br>
    <div class="btn btn-primary">
     <%= link_to "Edit", edit_article_path(article.id) %>
    </div>
    &nbsp;&nbsp;
    <div class="btn btn-danger">
     <%= link_to "Delete", article, method: :delete, data: { confirm: "You sure?"}  %>
    </div>
   </section>
  <% end %>
  <hr>
 <% end %>
</div>