<h1 class="center">Articles List</h1>
<div class="center">
 <% @articles.each do |article| %>
  <section id= "article">
   <p class="bold"> <%= link_to article.title, article_path(article.id) %></p>
   <p> <%= markdown(article.content) %> </p>
   <p> <%= article.user.name %></p>
   <p> <%= time_ago_in_words(article.created_at) %> 前</p>
   <p class="center">
    <%= link_to "Edit", edit_article_path(article.id) %> &nbsp;&nbsp;
    <%= link_to "Delete", article, method: :delete, data: { confirm: "You sure?"}  %>
   </p>
  </section>
  <hr>
 <% end %>
</div>
<%= paginate @articles %>