<h1>Articles List</h1>
<div class="center jumbotron">
 <% @articles.each do |article| %>
  <p><%= article.title %></p>
  <p><%= article.content %></p>
  <p><%= article.created_at %></p>

  <p>
   <%= link_to "Edit", edit_article_path(article.id) %>
   <% if current_user?(article.user) %>
    <%= link_to "Delete", article, method: :delete, data: { confirm: "You sure?"}  %>
   <% end %>
  </p>

  <hr>
<% end %>
</div>