<div class="row">
 <div class="col-md-4 col-md-offset-4">
  <div class="element4 bold"><%= @article.title %></div>
  <h4 class=""><%= markdown(@article.content) %></h4>
  <div class="element3"><%= time_ago_in_words(@article.created_at) %>前</div>
 </div>
</div>

<!-- 
<div class="center">
 <div class="element4 bold"><%= @article.title %></div>
 <h4 class="element5"><%= markdown(@article.content) %></h4>
 <div class="element3"><%= time_ago_in_words(@article.created_at) %>前</div>
</div>
>