<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "blog app", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">

            <% if logged_in? %>
             <li><%= link_to "New Post",   new_article_path %></li>
             <li><%= link_to "Articles List",   articles_path %></li>
             <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% else %>
             <li><%= link_to "Log in", login_path %></li>
            <% end %>

            <li><%= link_to "Sign up", signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
     <% end %>
     <%= yield %>
<!--
     <%= debug(params) if Rails.env.development? %>
-->    
    </div>
  </body>
</html>
